.home {
  margin-top: 48px;
}

.services-grid {
  margin-top: 32px;
  display: grid;
  gap: 32px;
}

@media (min-width: 768px) {
  .services-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.services-grid h3 {
  margin-bottom: 8px;
}