.section {
  margin-top: 48px;
  margin-bottom: 48px;
  padding: 24px;
  border: 1px solid #e2e8f0;
  border-radius: 16px;
  background-color: #f9f9f9; 
}

.section-title {
  margin: 0 0 12px 0;
}

.section-body {
  margin: 0;
}

/* Remove bottom margin for last section */
.section:last-child {
  margin-bottom: 0px;
}